{% include "/shared/topbar.phtml.twig" %}

<head>
    <style></style>
</head>

<body>
    <br>

    <h2 class="text-center">Login</h2>

    <br>
    <br>

    <div class="card" style="width: 18rem; margin: auto;">
        <div class="card-header">
            <h5 class="card-title text-center">Login</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted text-center">Enter Credentials Below</h6>

            <br>

            <div class="text-center">
                {{ form(LoginForm) }}
            </div>
        </div>
        <div class="card-footer text-center">
            <h6 class="card-title">No account? sign up below!</h6>
            <a class="nav-link-blue" style="margin: auto" href="/register">Register Now!</a>
        </div>
    </div>
</body>

